
@mixin no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}


@mixin no-fieldset-style {
  margin: 0;
  padding: 0;
  border: none;

  legend {
    padding: 0;
  }
}


@mixin retina {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin btn{
  display: inline-block;
  vertical-align: top;
  text-align: center;

  padding: $btn-padding;

  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: $btn-line-height;

  text-decoration: none;
  text-transform: uppercase;
  border: none;

  border-radius: $btn-border-radius;

  cursor: pointer;
}

@mixin make-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


