@font-face {
  font-family: "Roboto";
  src: url(../fonts/web/roboto.woff) format("woff"),
  url(../fonts/web/roboto.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/web/robotomedium.woff) format("woff"),
  url(../fonts/web/robotomedium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/web/robotobold.woff) format("woff"),
  url(../fonts/web/robotobold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}